// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  width: 100%;
  background-color:#fff;
  border-bottom: 1px solid #dbdbdb;
  text-align: center;
}

.navbar-default {
  border: 0;
  padding: 5px 25px;
}
.navbar {
  background-color: transparent;
  color: white;
  margin-bottom: 0;
}
.navbar-default {
  .navbar-brand {
    color: #333;
    &:hover {
      color: #999;
    }
  }
  .navbar-nav > li > a {
    color: #333;
    &:hover, &:focus {
      color: #999;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}


.function {
  background-color: #e9e9e9;
  padding: 80px
}

//.main-header {
//  padding-top: 16%;
//  padding-bottom: 15%;
//  width: 100%;
//  background-size: cover;
//  background-image: image-url("header.jpg");
//  background-attachment: fixed;
//}

.main-header img {
  display: block;
  margin: 0 auto;
  width: 25%;
}

.about {
  background-color: white;
  color: #333;
  padding: 80px;
}

footer {
  width: 100%;
  background-color:#fff;
  padding: 20px 0;
  color: #333;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 75px;
  text-align: center;
  background-color: #fafafa;
}

footer {  /*<footer class="footer">*/
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 75px;
  // background-color: #f5f5f5;
}

.page-top-btn {
  display: none;
  border-radius: 50px;
  background: #336699;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 20;
  &:hover {
    opacity: 0.7;
  }
  a {
    display: block;
    color: white;
    line-height: 60px;
    text-decoration: none;
  }
}

.flash {
  color: #ccc;
  padding-top: 10px;
}

.main-image {
  max-width: 50%;
}

.row-center{
  text-align:center;
  letter-spacing:-0.4em;
}
.row-center > [class*='col-'] {
  display:inline-block;
  letter-spacing:0;
  vertical-align:top;
  float:none !important;
}
.row-center.va-middle > [class*='col-'] {
  vertical-align:middle;
}
.row-center.va-bottom > [class*='col-'] {
  vertical-align:bottom;
}